/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
     -fx-background-image: url("background.jpg");
     -fx-font-family: serif;
}

GridPane {
	-fx-alignment: top-center; 
	-fx-padding: 5, 5, 5, 5;
	-fx-border-width: 1px;
	-fx-border-color: #33adff;
	-fx-vgap: 7;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #0f0e0e;
    /*-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
    -fx-padding: 18 0 0 0;
}

TextField {
	-fx-min-height: 30;
}

TextArea {
	-fx-min-height: 50;
}

#title {
   -fx-font-size: 32px;
   -fx-fill: #818181;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
   -fx-font-weight: bolder;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}